/* splash-screen.component.scss */
.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    /* Change to your preferred background color */
}